Package: systemd-boot
Source: systemd
Version: 251.6-1
Architecture: amd64
Maintainer: Carsten Andrich
Depends: systemd (>= 247.3), systemd (<< 251.2-3~)
Recommends: efibootmgr
Section: admin
Priority: optional
Homepage: https://github.com/carstenandrich/debian-minimal-installer/tree/main/systemd-boot.deb.d
Description: simple UEFI boot manager - automatic update hooks
 systemd-boot (short: sd-boot) is a simple UEFI boot manager. It provides a
 textual menu to select the entry to boot and an editor for the kernel command
 line. It supports systems with UEFI firmware only.
 .
 Installing systemd-boot will not automatically switch your boot loader.
 .
 This package contains hooks for automatic updates of the boot manager UEFI
 binary, kernel and initramfs images. These hooks are included in Debian
 Bookworm's systemd-boot package since version 251.2-3. This package is a
 backport to Debian Bullseye to enable straightforward use of systemd-boot.
 Seamless upgrade to Debian Bookwork is intended, but not guaranteed.
